* {
    margin: 0px; padding: 0px;
}

#contenedor {
    background-color: #fff8f0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

div#contenedor::after {
    content: "";
    display: table;
    clear: both;
}

div.encabezado {
    background-image: url("../imgs/guesteaus.png");
    background-size: cover;
    color: #811d1d;
    font-family: 'Georgia', serif;
    font-size: 36px;
    text-align: center;
    height: 220px;
    background-position: 80% 225%;
    line-height: 5;
}

div.menu ul li a{
    background-color: #a77e58;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    transition: background-color 0.3s ease;
}


div.menu ul {
    color: #ffffff;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


.menu a:hover {
    color: #5a3e36;
}

div.contenido{
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: 'Georgia', serif;
    font-size: 18px;
    float: left;
    width: 65%;
    padding: 20px;
    margin-right: 20px;
}

div.sidebar{
    background-color: #ecdcc6;
    color: #5a3e36;
    font-family: 'Georgia', serif;
    font-size: 18px;
    float: right;
    width: 26%;
}

div.pie{
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    text-align: center;
    clear: both;
}

.enlaces a{
    color:#ecdcc6;
    padding-right: 15px;
}

label {
    font-size: 16px;
    display: block;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='time'],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #a77e58;
    border-radius: 5px;
    background-color: #fff8f0;
}

input[type='submit'] {
    background-color: #5a3e36;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type='submit']:hover {
    background-color: #a77e58;
}

/* mensajes de error */
input:invalid,
textarea:invalid {
    border-color: #ff0000;
}

input:invalid:focus,
textarea:invalid:focus {
    border-color: #ff0000;
    outline: none;
}

input:invalid + span,
textarea:invalid + span {
    color: #ff0000;
    display: block;
    margin-top: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:invalid:focus + span,
textarea:invalid:focus + span {
    opacity: 1;
}