* {
    margin: 0px; padding: 0px;
}

#contenedor {
    background-color: #fff8f0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

div.encabezado {
    background-image: url("../imgs/guesteaus.png");
    background-size: cover;
    color: #811d1d;
    font-family: 'Georgia', serif;
    font-size: 36px;
    text-align: center;
    height: 220px;
    background-position: 80% 225%;
    line-height: 5;
}

div.menu ul li a{
    background-color: #a77e58;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    transition: background-color 0.3s ease;
}


div.menu ul {
    color: #ffffff;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


.menu a:hover {
    color: #5a3e36;
}

div.contenido{
    background-color: #fff8f0;
    color: #5a3e36;
    font-family: 'Georgia', serif;
    font-size: 18px;
}

div.sidebar{
    background-color: #ecdcc6;
    color: #5a3e36;
    font-family: 'Georgia', serif;
    font-size: 18px;
}

div.pie{
    background-color: #5a3e36;
    color: #ecdcc6;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    text-align: center;
}

.enlaces a{
    color:#ecdcc6;
    padding-right: 15px;
}
